<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Augmentr</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Login
                    </a>
                </li>
                <!-- These are here for place holders for the other Explorer links im making. These need the conditionals too. -->
                <li [routerLinkActive]="['link-active']" class="explorerOptions" *ngIf="true"> 
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Explorer
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="explorerOptions" *ngIf="true"> 
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Explorer
                    </a>
                </li>
                <!-- These are here for place holders for the other Admin links im making. These need the conditionals too. -->
                <li [routerLinkActive]="['link-active']" class="adminOptions" *ngIf="true"> 
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Admin
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" class="adminOptions" *ngIf="true"> 
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user'></span> Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
